#app {
}

a {
    color: #2F4858;
    border-bottom: 2px solid rgba(61, 91, 108, .60);
}

a:hover {
    color: #3D5B6C;
}

.noborder { border: 0 }

header a {
    border: 0;
}

#app header {
    color: white;
    overflow: hidden;
}

#app header .title {
    color: white;
}

#logo img {
    width: 188px;
    max-width: 100%;
}

#app .logo-container {
    max-width: 100%;
}

#app header .bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 475px;
    background: #EAB302;
    transform: skewY(-8deg);
    transform-origin: top left;
    z-index: -1;

    border-bottom: 2px solid white;

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
}

#app .profiles {
    margin-top: 5px;
}

#app .footer-wrapper {
    position: relative;
}

#app footer {
    padding: 0;
    width: 100%;
    text-align: center;
    margin-bottom: -200px;
    position: relative;
}

#app footer .container {
    z-index: 2;
    padding-top: 56px;
}

#app footer {
    z-index: 10;
    overflow: hidden;
    height: 300px;
}

#app footer .footer-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: #EAB302;
}

#app footer .bg {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #EAB302;
    transform: skewY(-9deg);
    transform-origin: bottom right;
    z-index: 2;
}

#app footer .created-by {
    margin-top: 26px;
    color: white;
    font-size: 14px;
}

#app footer .created-by a {
    color: white;
}

#app .navigation {
    display: none;
    text-align: right;
}

#app .navigation a {
    color: white;
    margin-left: 22px;
    font-size: 14px;
    font-weight: 500;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.13);
    padding: 2px;
}

#app .navigation a:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

#app header h1 {
    font-size: 46px;
    line-height: 52px;
    font-weight: 900;
    text-align: left;
    max-width: 700px;

    margin-top: 10px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.21), 0 0 1px rgba(0, 0, 0, 0.28);
}

#app header .call-to-action {
    color: white;
    display: block;
    margin-top: 50px;
    background-image: linear-gradient(#3D5B6C, #2F4858);
    border-radius: 25px;
    font-size: 17px;
    text-align: center;
    padding: 9px 15px;

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35), 0 0 2px rgba(0, 0, 0, 0.25);
}

#app .newsletter {
    margin-left: auto;
    margin-right: auto;
    max-width: 495px;
}

#app .top-content {
    margin-top: -40px;
}

#app .bitcoinsv-logo {
    width: 200px;
    max-width: 100%;
}

#app .atlantis img {
    width: 250px;
    max-width: 100%;
}

#app .atlantis .blurb {
    max-width: 255px;
    margin: 0 auto;
}

#app .fa-li {
    color: #EAB302;
}

#app .list-item {
    padding-left: 0;
    border: 0;
}

#app h2 {
    font-size: 32px;
}

#app .title .icon-wrapper {
    opacity: 0.81;
}

#app .profile {
    box-shadow: 0 0.063em 0.313em 0 rgba(0,0,0,.07), 0 0.438em 1.063em 0 rgba(0,0,0,.1);
    padding: 23px 10px 26px 10px;
    border-radius: 11px;
    height: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#app .profile img {
    height: 140px;
    border-radius: 70px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
}

#app .profile h3 {
    margin-top: 8px;
    font-size: 19px;
    font-weight: 600;
    opacity: 0.79;
}

#app .profile p {
    font-size: 14px;
    padding: 2px 10px;
    line-height: 22px;
}

#app .profile p.description {
    min-height: 50px;
}

#app .profile .wording {
    min-height: 141px;
}

#app .profile p a {
    color: #2F4858;
    border-bottom: 2px solid rgba(61, 91, 108, .3);
}

#app .profile .tags {
    line-height: 10px;
    display: inline-block;
    margin-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 66px;
}

#app .profile p a:hover {
    color: #3D5B6C;
}

#app .profile .avatar {
    background: #ddd;
    width: 140px;
    height: 140px;
    margin-bottom: 5px;
    border-radius: 70px;
    display: inline-block;
    padding: 1px;
    color: rgba(0, 0, 0, 0.54);
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.03);
}

#app .profile .empty-tags {
    height: 30px;
}

#app .profile .avatar .icon-wrapper {
    padding-top: 27px;
    display: inline-block;
}

#app .newsletter .has-addons-centered .control {
    width: 100%;
}

.footer-inner {
    display: inline-block;
}

.recaptcha-wrapper {
    margin-bottom: 8px;
}

@media only screen and (min-width: 0px) and (max-width: 320px){
    #app header h1 {
        font-size: 38px;
    }


}

@media only screen and (min-width: 321px) and (max-width: 360px){
    #app header h1 {
        font-size: 44px;
        margin-top: 24px;
    }
}

@media only screen and (min-width: 360px) {

    #app header h1 {
        margin-top: 28px;
    }

}

@media only screen and (min-width: 361px) and (max-width: 479px){

    #app header h1 {
        margin-top: 36px;
    }

    #app header .call-to-action {
        margin-top: 49px;
    }

    #app .bitcoinsv-logo {
        padding: 10px 0 5px 0;
        width: 225px;
    }

    #app footer .container {
        padding-top: 82px;
    }

}

@media only screen and (min-width: 480px) {

    #app header .bg {
        height: 450px;
    }

    #app header h1 {
        margin-top: 54px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #app header .call-to-action {
        max-width: 410px;
        margin-top: 58px;
        margin-left: auto;
        margin-right: auto;
    }

    #app .bitcoinsv-logo {
        padding: 0 0 10px 0;
        width: 250px;
    }

    #app footer .container {
        padding-top: 92px;
    }
}

@media only screen and (min-width: 712px) {
    #app .navigation {
        display: block;
    }

    #app .top-content {
        margin-top: -20px;
    }

    #app footer .container {
        padding-top: 146px;
    }

    #app footer {
        height: 400px;
    }

    #app .newsletter .has-addons-centered .control {
        width: auto;
    }

    #app .atlantis img {
        margin-top: 50px;
    }
}

@media only screen and (min-width: 640px) and (max-width: 1026px) {
    #app header .call-to-action {
        margin-top: 85px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1026px) {
    #app header .call-to-action {
        margin-top: 74px;
    }
}

@media only screen and (min-width: 1050px) {
    #app header h1 {
        margin-top: 81px;
        font-size: 57px;
        line-height: 78px;
        max-width: 826px;
    }

    #app header .bg {
        height: 575px;
    }

    #app header .call-to-action {
        margin-top: 120px;
    }

    #app .top-content {
        margin-top: 0;
    }

    #app .navigation a {
        margin-left: 50px;
    }

    #app footer .container {
        padding-top: 225px;
    }

    #app footer .logo {
        border: 1px solid red;
    }

    #app footer {
        height: 500px;
    }
}

@media only screen and (min-width: 1250px) {
    #app header h1 {
        margin-top: 68px;
    }
    #app header .call-to-action {
        margin-top: 103px;
    }

    #app .top-content {
        margin-top: 20px;
    }
}

@media only screen and (min-width: 1500px) {
    #app header h1 {
        margin-top: 59px;
    }
    #app header .call-to-action {
    }

    #app .top-content {
        margin-top: 20px;
    }

    #app .bitcoinsv-logo {
        width: 325px;
    }
}

@media only screen and (min-width: 1800px) {

    #app header h1 {
        margin-top: 55px;
    }
    #app header .call-to-action {
        margin-top: 79px;
    }

    #app .top-content {
        margin-top: 30px;
    }

}

@media screen and (max-width: 769px) {
    .reverse-column-order {
        display: flex;
        flex-direction: column-reverse;
    }
}
